/*  for test purpose only */

body {
  /* margin: 2vw; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-flow: row wrap;
}
