.oa-card {
  @include control-basic();
  @include comic-border();
  @include comic-hover();
  @include transition-fast();
  display: table;
}

.btn-wrapper {
  position: relative;
}

.oa-btn {
  height: $height-xl;
  border: none;
  cursor: pointer;
  @include comic-after();
  margin: 7px 6px 6px 5px; //fix
}

.oa-toggle-on {
  @include comic-after-pressed();
  background: $toggle-on;
  &:active {
    filter: brightness(85%);
  }
}
.oa-toggle-off {
  @include hover-dark();
}
