.dropdown-wrapper {
  text-transform: capitalize;
  position: relative;
  & *::selection {
    background: none;
  }
  @include control-basic();
}

.dropdown {
  position: absolute;
  top: 0;
  left: 0;
  @include comic();
}

.virtual-dropdown {
  // used as a placeholder as the DropDown has a absolute position which doesn't occupy a space in parent
  visibility: hidden;
}
.dropdown-title {
  padding: 9px 18px;
  display: flex;
  flex-direction: row;
  background: white;
  align-items: center;
  &.pressed > .dropdown-arrow {
    transform: rotate(180deg);
  }
}
.dropdown-arrow {
  transition: ease-in-out 0.2s;
  margin-left: 5px;
}

.dropdown-list {
  // @include comic-border();
  // position: absolute;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  background: white;
  text-align: left;
  white-space: nowrap;
  &.hide-list {
    display: none;
  }

  & > * {
    text-transform: capitalize;
    background: white;
    padding: 10px 18px;
    border: none;
    outline: none;
    color: black;
    text-align: left;
    overflow: hidden;
    text-decoration: none;
    &:hover {
      background: #d2ecfe;
      // cursor: pointer;
    }
  }
}

.dropdown-list.no-pop {
  position: relative;
}
