.dropdown {
  text-transform: capitalize;
  position: relative;
  & *::selection {
    background: none;
  }
}

.dropdown-wrapper {
  position: absolute;
  @include comic();
}

.dropdown-title {
  cursor: pointer;
  height: 20px;
  padding: 10px 18px;
  display: flex;
  flex-direction: row;
  background: white;
  align-items: center;
  &.pressed > .dropdown-arrow {
    transform: rotate(180deg);
  }
}
.dropdown-arrow {
  transition: ease-in-out 0.2s;
  margin-left: 5px;
}

.dropdown-list {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  background: white;
  text-align: left;
  white-space: nowrap;
  &.hide-list {
    display: none;
  }

  & > * {
    text-transform: capitalize;
    background: white;
    padding: 10px 18px;
    border: none;
    outline: none;
    color: black;
    text-align: left;
    overflow: hidden;
    text-decoration: none;
    &:hover {
      background: #d2ecfe;
      cursor: pointer;
    }
  }
}

.dropdown-list.no-pop {
  position: relative;
}
