.oa-filters-wrapper {
  display: flex;
  flex-flow: row wrap;
  @include comic-border();
margin: $control-margin;
}

.oa-filter-toggle {
  @include control-basic();
  @include transition-fast();
  flex-grow: 1;
  margin: 0;
  font-weight: bold;
  border: none;
  color: gray;
  height: 40px;
  // min-width: 80px;
  
  &:not(:last-child) ,
  &:not(:first-child) {
    border-radius: 0;
  }
  &:not([disabled]) {
    cursor: pointer;
  }
  &.on {
    filter: brightness(89%);
    &:active {
      filter: brightness(85%);
    }
  }
  &.off {
    @include hover-dark();
  }
}
