.oa-secret {
  &::after {
    @include abs-top-left();
    @include transition-mid();
    @include stripe-bg(#797ba8, #535470, 45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
    content: 'Secret' !important;
    color: wheat;
    overflow: hidden;
  }
  // &:active::after {
  //   content: '' !important;
  //   width: 0px;
  //   // background: #0000;
  // }
  // @include smaller-than(567px) {
  &:hover::after {
    content: '' !important;
    width: 0px;
    // background: #0000;
  }
  // }
}
