.element-with-sidebar {
  flex-direction: row;
  display: flex;
}

.sidebar-placeholder {
  @include transition-mid();
  margin-right: 40px;
  visibility: hidden;
}

.sidebar-item-brief,
.sidebar-item-detail {
  width: 100%;
  margin: 2px 0;
  text-align: center;
  text-decoration: none;
  color: $thirdClr;
}
.sidebar-active {
  // text-decoration: underline;
  color: $primaryClr;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    transform: translateX(-12px);
    top: calc(50% - 4px);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $primaryClr;
    z-index: 111;
  }
}
.oa-sidebar {
  .sidebar-item-brief,
  .sidebar-item-detail {
    color: $secondaryClr;
  }
  .sidebar-active {
    color: $bgClr;
    &::before {
      background: $bgClr;
    }
  }
}

.oa-sidebar {
  @include transition-mid();
  z-index: 1001;
  border: none;
  background: $dark-bg;
  align-items: center;
  width: 40px;
  display: flex;
  position: fixed;
  left: 0;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  &:hover {
    width: 120px;
    // & + .sidebar-placeholder {
    //   margin-right: 110px;
    // }
    .sidebar-item-detail {
      transition-duration: 0.3s;
      transition-property: opacity;
      transition-delay: 0.1s;
      opacity: 1;
      width: 100%;
      height: auto;
    }
    .sidebar-item-brief {
      opacity: 0;
      display: none;
    }
  }
  @include greater-than(768px) {
    border-width: 0 1px 0 0;
    top: 0;
  }
  // children
  .sidebar-active {
    color: $bgClr !important;
    &::before {
      background: $bgClr !important;
    }
  }
  .sidebar-item-detail {
    overflow: hidden;
    opacity: 0.2;
    height: 0px;
    width: 0px;
    color: $secondaryClr;
  }
  .sidebar-item-brief {
    color: $secondaryClr;
    opacity: 1;
    @include greater-than(768px) {
      margin-left: 10px;
    }
  }
}

@include smaller-than(768px) {
  .oa-sidebar {
    height: fit-content;
    padding: 10px 1px;
    bottom: 100px;
    border-width: 1px 1px 1px 0;
    border-radius: $comic-radius;
    width: 30px;
    &:hover {
      width: 80px;
    }
    /////////////
    .sidebar-item-detail,
    .sidebar-item-brief {
      &::before {
        display: none;
      }
    }
  }
}
