// margin
$control-margin: 6px 4px;

// padding
$padding-s: 5px 8px;
$padding-m: 8px 18px 10px;

// height
$height-s: 14px;
$height-m: 20px;
$height-xm: 26px;
$height-l: 30px;
$height-xl: 40px;

// colors
$semi-black: #0008;
$light-bg: #ccc;
$toggle-on: #ffb10052;

// radius
$comic-radius: 2px 3px 2px 3px;
$round-radius: 100% 0 0 100%;
